{% extends 'home/layout.html' %}

{% load static %}

{% block content %}
<!-- Main Header -->
<div id='header'>
    <img src='{% static "portfolio/images/header5.jpg" %}' class='img-fluid mx-auto d-block shadow-lg' alt='Header'>
</div>

<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h1>We're Going <span style='color: #EA80B0;'>Pink!</span></h1>
    <p>
        October is Breast Cancer Awareness month and we are going <span style='color: #EA80B0;'>PINK</span> for the entire month to show 
        our support. 1 in 8 people in the U.S. will develop breast cancer in their lifetime. It 
        is important to be tested regularly to catch early signs of breast cancer. 
        For more information on Breast Cancer, 
        <a href='https://www.nationalbreastcancer.org/breast-cancer-awareness-month'>Click Here</a>.
    </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- About Content-->
<section class='container-fluid mt-5'>
    <div class='row'>
        
        <!-- Welcome -->
        <div class='container col-md-7'>
            <div class='container col-12' id='Note'>

                <div class='container'>
                    <img src='{% static "portfolio/images/TP.png" %}' class='img-fluid rounded mb-3' alt='Welcome'>
                    <p>
                        Welcome to the site. This site is dedicated as an electronic
                        portfolio to showcase my skills and artifacts in Information Technology
                        and Computer Science. As this ePortfolio is an ongoing, dynamic project
                        in and of itself, some features and content may be limited.
                    </p>
                    <p>
                        My name is Eoghan and I am a developer. Much of my skill is in back-end
                        development, but as you can see, I also handle front-end development.
                        I am also interested in software and application development and will be
                        hosting them here as well. Check back often for new updates.
                    </p>
                </div>

                <hr class='mt-5' />

            </div>
        </div>

        <div class='container pt-4 col-md-5'>

            <!-- Website Sections -->
            <div class='container col-md-10 d-flex flex-wrap' id='Sections'>
                {% for s in sections.all %}
                <div class='row col-xs-12 col-sm-6 col-md-12 my-3'>
                    <div class='container col-4 col-lg-3'>
                        <img class='img-fluid rounded shadow' src='{{ s.section_Image.url }}'>
                    </div>
                    <div class='container col-8 col-lg-9'>
                        <a href='{{ s.section_Link }}'><h5 class='mb-0'>{{ s.section_Title }}</h5></a>
                        <small>{{ s.section_Description }}</small>
                    </div>
                </div>
                <hr />
                {% endfor %}
            </div>

        </div>

    </div>
 </section>
{% endblock content %}