{% extends 'experience/layout.html' %}

{% load static %}

{% block content %}
<!-- Experience Content -->
<section class='col-md-11 mx-auto d-block py-5 shadow-lg'>

    <!-- Experience Header -->
    <div class='container mt-5 header'>
        <h2 class='headertxt'>Work Experience</h2>
        <hr class='col-6 col-lg-4 divider'>
    </div>
    
    <!-- Experience Body -->
    <div class='container col-md-10 my-5'>
    
        {% for e in exp.all %}
        <div class='expList'>

            <img class='float-right w-25 mx-3 px-md-3' src='{{ e.experience_Image.url }}' alt=''>
            <a href='{% url "exp_details" e.id %}'><h4 class='title mb-0'>{{ e.experience_Title }}</h4></a>
            <small class='annotation'>{{ e.experience_Duration }}</small>
            <p class='description mt-3'>{{ e.job_sum }} ... 
                <a href='{% url "exp_details" e.id %}'>Read More</a>
            </p>

        </div>
        
        <hr class='col-10' />
        {% endfor %}
        
        <div class='small text-muted'>
            Disclaimer: The organization image(s) and logo(s) are used on this page solely for the purpose of visual identification and representing prior employment of the organization(s). I hold no claims to the intellectual property of the organization(s), nor speak for, represent, or hold business partnerships or relationships with said organization(s).
        </div>

    </div>

    </section>
{% endblock content %}