{% extends 'artifacts/layout.html' %}

{% load static %}

{% block content %}
<!-- Artifact Content -->
<section class='container py-5' id='header'>
        

    <div class='container header'>
        <h1 class='title mb-0'>{{ art.artifact_Title }}</h1>
        <small class='subheading'>Developed: {{ art.artifact_Year }}</small>
        <hr class='col-6 col-lg-4 divider'>
    </div>

    <img class='exImg shadow mx-auto' src='{{ art.artifact_Image.url }}'>

    <div class='container my-5'>
        <p>
            {{ art.artifact_Description|safe|linebreaks }}
        </p>

        <!-- Cycle Through Files list for Artifact -->
        <p class='my-5'>
            <strong>File(s):</strong>
            <!-- Cycle Through Files list for Artifact -->
            {% for f in art.artifact_Files.all %}
            <a href='{{ f.file_Upload.url }}'>
                <div class='card col-6 col-md-3 shadow'>
                    <div class='card-body text-center'>
                        {{ f.file_Icon|safe }}<br/>
                        {{ f.file_Name }}
                    </div>
                </div>
            </a>
            {% endfor %}
        </p>

        <p class='my-5'>
            <strong>Tags:</strong>&emsp;
            <!-- Cycle Through Tags list for Artifact -->
            {% for tag in art.artifact_Skills.all %} 
                {{ tag|upper }}, 
            {% endfor %}
        </p>

    </div>

</section>
{% endblock content %}