{% extends 'artifacts/layout.html' %}

{% load static %}

{% block content %}
<!-- Artifact Content -->
<section class='container py-5' id='header'>
        

    <div class='container header'>
        <h1 class='title mb-0'>{{ art.artifact_Title }}</h1>
        <small class='subheading'>Developed: {{ art.artifact_Year }}</small>
        <hr class='col-6 col-lg-4 divider'>
    </div>

    <div class='container'>
        <img class='rounded w-75 mx-auto d-block shadow' src='{{ art.artifact_Image.url }}'>
    </div>

    <div class='container my-5'>

        <div class='my-5'>
            <strong>Description:</strong><br/>
            {{ art.artifact_Description|safe|linebreaks }}
        </div>

        <!-- Cycle Through Files list for Artifact -->
        <div class='my-5'>
            <strong>File(s):</strong><br/>
            
            <!-- Cycle Through Files list for Artifact -->
            <div class='row'>

                {% for f in art.artifact_Files.all %}
                <div class='col-md-4'>
                    <div class='card mt-3 shadow'>
                        <div class='card-body text-center'>
                            <a href='{{ f.file_Upload.url }}'>
                                {{ f.file_Icon|safe }}<br/>
                                {{ f.file_Name }}<br/>
                            </a>
                        </div>
                        <div class='card-footer'>
                            <small>{{ f.file_Description }}<br/>
                            File Type: {{ f.file_Type }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <div class='my-5'>
            <strong>Tags:</strong>&emsp;
            <!-- Cycle Through Tags list for Artifact -->
            {% for tag in art.artifact_Skills.all %} 
                <a href='{% url "skill_details" tag.id %}'>{{ tag|capfirst }}</a>&ensp;
            {% endfor %}
        </div>

    </div>

    <div class='container mt-5'>
        <span class='small text-muted'>
            Disclaimer: The artifacts presented are the property of The Hulbert Files in conjunction with the indicated academic institution, unless otherwise indicated. The content may not be used for any other purpose except for visual representation as an electronic portfolio. Any downloaded content is property of The Hulbert Files and may not be redistributed.
        </span>
    </div>

</section>
{% endblock content %}