{% extends 'projects/layout.html' %}

{% load static %}

{% block content %}
<!-- Profile -->
<section class='container py-5' id='header'>
        
    <div class='container header '>
        <h1 class='title mb-0'>Coming Soon!</h1>
        <hr class='col-6 col-lg-4 divider'>
        <p>Thank you for checking out the site. This section is currently in development. Check back soon for new content.
        </p>
        <a href='{% url "home" %}'>
            <button class='btn btn-default mx-auto d-block' type='button' value='Back'>Back</button>
        </a>
    </div>

</section>
{% endblock content %}